.loginInput{
    color: black;
    width: 300px;
    font-size: 1.8rem;
    border-radius: 5px;
}
.loginPosicaoo{
    position: fixed;
    right: 80px;
    top: 10px;
}

.loginH2{
    text-align: center;
}
.loginBT1{
    padding: 15px;
    position: fixed;
    right: 240px;
}
.loginBT2{
    padding: 15px;
    position: fixed;
    right: 130px;
}