.CadastroInput{
    width: 300px;
    color: black;
    font-size: 1.8rem;
    border-radius: 5px;
}
.CadastroPosicao{
    position: fixed;
    right: 600px;
    top: 100px;
}

.CadastroH2{
    text-align: center;
}
.CadastroBT1{
  padding:15px;  
  position: fixed;
  right: 750px;
 
}
.CadastroBT2{
    padding:15px;  
    position: fixed;
    right: 650px;
  }
